:root {
    --color-grey100: #000000;
    --color-grey90: #0F2137;
    --color-grey75: #302B4E;
    --color-grey70: #343D48;
    --color-grey60: #43414E;
    --color-grey50: #6F7A87;
    --color-grey45: #5C636C;
    --color-grey40: #5D646D;
    --color-grey35: #CCCCCC;
    --color-grey30: #C9CECC;
    --color-grey25: #E4E9EE;
    --color-grey20: #EFF2F5;
    --color-grey10: #F2F4F7;
    --color-grey0: #FFFFFF;

    --color-yellow: #EDCD37;
    --color-blue: #0000EE;
    --color-blue: #108EE9;

    --color-green1: #00865B;
    --color-green2: #2AA275;
    --color-green2: #18D379;
    --color-green3: #DCF4E8;
    --color-green3: #E7F1ED;
    --color-green3: #F6FBF9;
}

body {
    font-family: "Roboto", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background: rgb(51, 51, 51);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Блок Хедер */

.header {
    width: 100%;
    background-color: #000000;
}

.top-menu {
    width: 300px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu__toggle {
    width: 45px;
    height: 30px;
    border: none;
}

.top-menu__logo-image {
    width: 130px;
}

.top-menu__navigation {
    list-style: none;
    margin: 0;
}

.top-menu__item {
    font-size: 16px;
    padding: 5px 18px;
}

.top-menu__button-start {
    font-size: 13px;
    text-transform: uppercase;
    color: var(--color-grey100);
    padding: 8px 20px;
    background-color: var(--color-yellow);
    border-radius: 4px;
    border: none;
    outline: 0;
}


/* intro */
.intro {
    width: 100%;
}

.intro__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__hint {
    width: 280px;
    box-sizing: border-box;
    padding: 7px 10px;
    margin: 0px 0px 25px;
}

.intro__big-text {
    padding: 0;
    margin: 0px 0px 25px;
    font-size: 24px;
    text-align: center;
}

.intro__text {
    text-align: center;
    line-height: 1.75;
    margin-bottom: 35px;
}

.intro__buttons-block {
    width: 270px;
    box-sizing: border-box;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.intro__visual {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 25px;
}

.intro__visual-image {
    min-width: 250px;
    min-height: 160px;

}

/* process */
.process {
    width: 100%;
}

.process__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process__header {
    line-height: 1.67;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;

}

.process__headline {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.process__subtitle {
    line-height: 1.67;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.process__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

/* здесь будут элементы списка */
.process__big-text {
    font-size: 26px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.process__text {
    font-size: 15px;
    line-height: 2;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
}

.process__promo-text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* features */

.features {
    width: 100%;
}

.features__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__header {
    line-height: 1.67;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;
}

.features__headline {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.features__subtitle {
    line-height: 1.67;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.features__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.features__item {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;

}

.feature__advantage-wrapper {
    padding: 0;
    margin: 0;
    margin-left: auto;
    width: 210px;
}

/* update */
.update {
    width: 100%;
}

.update__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.update__headline {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.update__subtitle {
    line-height: 1.67;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* pricing */
.pricing {
    width: 100%;
}

.pricing__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__header {
    line-height: 1.67;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;
}

.pricing__headline {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.pricing__subtitle {
    line-height: 1.67;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.pricing__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* our-users */
.our-users {
    width: 100%;
}

.our-users__wrapper {
    box-sizing: border-box;
    width: 330px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-users__big-text {
    font-size: 26px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.our-users__text {
    font-size: 16px;
    line-height: 1.75;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
}

.our-users__visual-image {
    padding: 0;
    margin: 0;
    min-width: 300px;
    min-height: 265px;
}

.our-users__text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

.our-users__button {
    align-self: flex-start;
}

/* testimonial */
.testimonial {
    width: 100%;
}

.testimonial__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__headline {
    margin: 0;
    padding: 0;
    line-height: 1.67;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.testimonial__subtitle {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.67;
}

/* faq */
.faq {
    width: 100%;
}

.faq__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq__headline {
    margin: 0;
    padding: 0;
    line-height: 1.67;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.faq__subtitle {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.67;
}

.faq__list {
    list-style: none;
    width: 300px;
}

/* start-trial */
.start-trial {
    width: 100%;
}

.start-trial__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-trial__big-text {
    padding: 0;
    padding-top: 200px;
    margin: 0px 0px 25px;
    font-size: 28px;
    text-align: center;
}

.start-trial__text {
    margin-bottom: 35px;
    text-align: center;
    line-height: 2.1;
    font-size: 15px;

}

/* Media выражения */

/* Выпадающее меню */
@media (max-width:1200px) {
    .top-menu--open .top-menu__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 10;
        background-color: #FFFFFF;
        color: rgb(52, 61, 72);
    }

    .top-menu--closed .top-menu__wrapper {
        display: none;
    }

    .top-menu__navigation {
        margin: 0;
        min-width: 300px;
        box-sizing: border-box;
        padding: 50px 40px 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .top-menu__item--button {
        margin-top: auto;
    }
}

/* media header */
@media (min-width:760px) {
    .top-menu {
        width: 690px;
    }

    .top-menu__navigation {
        min-width: 420px;
    }

    @media (min-width:1200px) {
        .top-menu {
            width: 1110px;
        }

        .top-menu__toggle {
            display: none;
        }

        .top-menu--closed .top-menu__wrapper {
            display: block;
        }

        .top-menu__navigation {
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .top-menu__item {
            align-self: baseline;
        }
    }



    /* media Intro */

    @media (min-width:760px) {
        .intro__wrapper {
            width: 700px;
            padding-top: 70px;
        }

        .intro__hint {
            width: 305px;
        }

        .intro__big-text {
            width: 552px;
            font-size: 40px;
        }

        .intro__text {
            width: 552px;
        }
    }

    @media (min-width:1200px) {
        .intro__wrapper {
            width: 1110px;
        }

        .intro__big-text {
            padding: 0;
            width: 630px;
            font-size: 46px;
        }

        .intro__text {
            width: 555px;
        }

    }

    /* media process */

    @media (min-width:760px) {
        .process__wrapper {
            width: 760px;
        }

        .process__subtitle {
            font-size: 24px;
        }

        .process__headline {
            font-size: 14px;
        }

        .process__list {
            width: 730px;
            display: flex;
            justify-content: space-between;
        }

        .process__promo {
            width: 730px;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

        .process__promo-text {
            width: 300px;
        }

        .process__big-text {
            font-size: 36px;
        }

    }

    @media (min-width:1200px) {
        .process__wrapper {
            width: 1180px;
        }

        .process__list {
            width: 100%;
        }

        .process__promo {
            width: 100%;
        }

        .process__promo-text {
            width: 478px;
        }

        .process__big-text {
            font-size: 48px;
        }

        .process__text {
            font-size: 16px;
        }

    }

    /* media feature */

    @media (min-width:760px) {
        .features__wrapper {
            width: 760px;
        }

        .features__list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .features__item {
            width: 325px;
        }

        .features__subtitle {
            font-size: 24px;
        }
    }

    @media (min-width:1200px) {
        .features__wrapper {
            width: 1180px;
        }

        .feature__advantage {
            font-size: 20px;
        }

        .feature__advantage-text {
            font-size: 15px;
        }
    }

    /* media update */
    @media (min-width:760px) {
        .update__wrapper {
            width: 760px;
        }

        .update__subtitle {
            font-size: 24px;
        }
    }

    @media (min-width:1200px) {
        .update__wrapper {
            width: 1180px;
        }
    }

    /* media pricing */
    @media (min-width:760px) {
        .pricing__wrapper {
            width: 760px;
        }

        .pricing__list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .pricing__item {
            width: 325px;
        }

        .pricing__subtitle {
            font-size: 24px;
        }
    }

    @media (min-width:1200px) {
        .pricing__wrapper {
            width: 1180px;
        }

        .pricing__list {
            width: 100%;
        }
    }

    /* media our-users */
    @media (min-width:760px) {
        .our-users__wrapper {
            box-sizing: border-box;
            width: 760px;
            padding: 0 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .our-users__visual-image {
            width: 295px;
            height: 260px;
        }

        .our-users__text-wrapper {
            width: 400px;
            box-sizing: border-box;
        }

        .our-users__big-text {
            font-size: 30px;
        }

    }

    @media (min-width:1200px) {
        .our-users__wrapper {
            width: 1180px;
        }

        .our-users__visual {
            box-sizing: border-box;
            width: 660px;
            padding: 0 10px;
        }

        .our-users__visual-image {
            width: 560px;
            height: 495px;
        }

        .our-users__text-wrapper {
            width: 478px;
            box-sizing: border-box;
            padding: 0 10px;
        }

        .our-users__big-text {
            font-size: 48px;
        }

    }

    /* media testimonial */
    @media (min-width:760px) {
        .testimonial__wrapper {
            width: 760px;
        }
    }

    @media (min-width:1200px) {
        .testimonial__wrapper {
            width: 1180px;
        }

    }


    /* media faq */
    @media (min-width:760px) {
        .faq__wrapper {
            width: 760px;
        }

        .faq__list {
            box-sizing: border-box;
            width: 690px;
            padding: 0 35px;
        }
    }

    @media (min-width:1200px) {
        .faq__wrapper {
            width: 1180px;
        }

        .faq__list {
            width: 1100px;
            padding: 0 135px;
        }
    }

    /* media start-trial */

    @media (min-width:760px) {
        .start-trial__wrapper {
            width: 760px;
        }

        .start-trial__big-text {
            width: 555px;
            font-size: 36px;
        }

        .start-trial__text {
            width: 555px;
            font-size: 16px;
        }

        .start-trial__buttons-block {
            width: 550px;
            display: flex;
            justify-content: center;
        }
    }

    @media (min-width:1200px) {
        .start-trial__wrapper {
            width: 1180px;
        }

        .start-trial__big-text {
            width: 477px;
            font-size: 48px;
        }

        .start-trial__text {
            width: 477px;
            font-size: 16px;
        }

        .start-trial__buttons-block {
            width: 477px;
            display: flex;
        }

    }




    /* .top-menu__item {
        font-size: 16px;
        padding: 5px 18px;
    }

    .top-menu__button-start {
        font-size: 13px;
        text-transform: uppercase;
        color: var(--color-grey100);
        padding: 8px 20px;
        background-color: var(--color-yellow);
        border-radius: 4px;
        border: none;
        outline: 0;
    } */


}

/* .top-menu {
    margin: 0 auto;
    width: 1110px;
    display: flex;
    align-items: center;
}

.top-menu__item {
    font-size: 16px;
    padding: 5px 18px;
}

.top-menu__button-start {
    font-size: 13px;
    text-transform: uppercase;
    color: var(--color-grey100);
    padding: 8px 20px;
    background-color: var(--color-yellow);
    border-radius: 4px;

}

.top-menu__navigation {
    list-style: none;
    display: flex;
    margin-left: auto;

}

.top-menu__logo-image {
    width: 130px;
} */