:root {
    --color-grey100: #000000;
    --color-grey90: #0F2137;
    --color-grey75: #302B4E;
    --color-grey70: #343D48;
    --color-grey60: #43414E;
    --color-grey50: #6F7A87;
    --color-grey45: #5C636C;
    --color-grey40: #5D646D;
    --color-grey35: #CCCCCC;
    --color-grey30: #C9CECC;
    --color-grey25: #E4E9EE;
    --color-grey20: #EFF2F5;
    --color-grey10: #F2F4F7;
    --color-grey0: #FFFFFF;

    --color-yellow: #EDCD37;
    --color-blue: #0000EE;
    --color-blue: #108EE9;

    --color-green1: #00865B;
    --color-green2: #2AA275;
    --color-green2: #18D379;
    --color-green3: #DCF4E8;
    --color-green3: #E7F1ED;
    --color-green3: #F6FBF9;
}

body {
    font-family: "Roboto", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background: varrgb(255, 255, 255);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 

/*Блок Хедер */

.header {
    width: 100%;

    position: absolute;
    z-index: 9999;
}
.header__wrapper {
    width: 100%;
    position: relative;  
}
.header__menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed; 
    transition: all 0.35s ease-in-out 0s;
    transform: translate3d(0px, 0px, 0px);
    padding: 15px 0px;
}
.top-menu {
    width: 300px;
    margin: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

    
}

.top-menu__toggle {
    width: 45px;
    height: 30px;
    border: none;
}

.top-menu__toggle .top-menu__toggle-span {
    display: block;
    width: 100%;
    height: 2px;
    float: right;
    background-color: rgb(255, 255, 255);
    margin: 4px 0px;
    transition: all 0.3s ease 0s;
}

.top-menu__toggle-span:last-child {
    width: calc(100% - 10px);
    margin-bottom: 0px;
}

.top-menu__toggle--black .top-menu__toggle-span {
    display: block;
    width: 100%;
    height: 2px;
    float: right;
    background-color:#000000;
    margin: 4px 0px;
    transition: all 0.3s ease 0s;
}
.top-menu__toggle--black .top-menu__toggle-span:last-child {
    width: calc(100% - 10px);
    margin-bottom: 0px;
}


.top-menu__logo-image {
    width: 130px;
}
.top-menu__logo--black {
    display: none;
}

.nav-colored {
    background-color: #FFFFFF;
    box-shadow: rgba(43, 83, 135, 0.08) 0px 3px 8px 0px;
    padding: 0;
}

.nav-transparent {
    background-color: transparent;
}
.top-menu__logo-none {
    display: none;
}
.top-menu__logo-block {
    display: block;
}


.top-menu__navigation-list {
    list-style: none;
    margin: 0;
}

.top-menu__item {
    font-size: 16px;
    padding: 5px 18px;
}

.top-menu__item-a {
    color: var(--color-grey0);
}


.top-menu__button-start {
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-grey100);
    height: 40px;
    box-sizing: border-box;
    padding: 8px 20px;
    background-color: var(--color-yellow);
    border-radius: 4px;
    border: none;
}


/* intro */
.intro {
    width: 100%;
    background-image: url(../img/banner-texture.png), linear-gradient(35deg, rgb(147, 249, 185) 0%, rgb(29, 151, 108) 100%);
    background-size: cover;
    background-position: center top;
    padding: 50px 0px 50px;
}

.intro__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__hint {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 265px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 5px;
    margin: 0px 0px 25px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
}

.intro__hint-save {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
    color: rgb(0, 134, 91);
    font-weight: 700;

}

.intro__big-text {
    padding: 0;
    margin: 0px 0px 25px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    font-size: 24px;
    text-align: center;
}

.intro__text {
    text-align: center;
    line-height: 1.75;
    margin-bottom: 35px;
}

.intro__buttons-block {
    width: 320px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.intro__button-trial {
    font-family: inherit;
    height: 40px;
    padding: 0px 15px;
    margin-right: 30px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(237, 205, 55);
    border-color: rgb(237, 205, 55);
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}

.intro__button-video {
    display: flex;
    align-items: center;
    width: 154px;
}


.intro__button-video-icon {
    fill: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    margin-right: 5px;
}



.intro__button-video-text {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.intro__button-video:hover>.intro__button-video-icon {
    fill: rgb(237, 205, 55);
}

.intro__button-video:hover>.intro__button-video-text {
    color: rgb(237, 205, 55);
}


.intro__visual {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 25px;
}

.intro__visual-image {
    min-width: 270px;
    min-height: 160px;

}

/* process */
.process {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.process__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.process__header {
    line-height: 1.67;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;

}

.process__headline {
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(42, 162, 117);
    font-weight: 700;
    padding: 0;
    margin: 0;

}

.process__subtitle {
    line-height: 1.67;
    font-weight: 500;
    font-size: 20px;
    color: rgb(15, 33, 55);
    font-weight: 500;
    text-align: center;
    padding: 0;
    margin: 0;
}

.process__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.process__item {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 40px;
}

.process__step-visual {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
}

.process__step-namber {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: -13px;
    left: -13px;
    z-index: 1;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    font-size: 20px;
    color: rgb(52, 61, 72);
    font-weight: 700;
    box-shadow: rgba(42, 96, 151, 0.25) 0px 6px 10.34px 0.66px;
}

.process__step-img {
    width: 60px;
    height: 60px;
}

.process__step-text {
    color: rgb(52, 61, 72);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.87;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.process__step {
    color: rgb(15, 33, 55);
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.process__promo {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 60px;
}

.process__promo-text {
    box-sizing: border-box;
    min-width: 320px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process__big-text {
    font-size: 26px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: rgb(15, 33, 55);
    font-weight: 400;
    line-height: 1.25;
}

.process__text {
    font-size: 15px;
    line-height: 2;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    color: rgba(52, 61, 72, 0.8);
    line-height: 2;
}

.process__button {
    align-self: flex-start;
    cursor: pointer;
    padding: 8px 22px;
    box-sizing: border-box;
    min-width: 150px;
    min-height: 46px;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: rgb(237, 205, 55);
    font-size: 14px;
    border-radius: 4px;
    border-color: rgb(237, 205, 55);
    transition: all 0.3s ease 0s;
}

.process__visual {
    position: relative;
    min-width: 320px;
    min-height: 330px;
    background-image: url(../img/dash-bg.png);
    background-size: contain;
    background-position: 50% 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;

}

.process__visual-image1 {
    position: absolute;
    top: 0;
    left: -10%;

    min-width: 320px;
    min-height: 330px;
}

.process__visual-image2 {
    margin-bottom: -10%;
    margin-right: 2%;
    width: 215px;
    min-height: 185px;
    align-self: flex-end;
    z-index: 10;
}

/* features */

.features {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.features__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__header {
    line-height: 1.67;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 60px;
}

.features__headline {
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: rgb(42, 162, 117);
    font-weight: 700;
    letter-spacing: 0.15em;
}

.features__subtitle {
    line-height: 1.67;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: rgb(15, 33, 55);
}

.features__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.features__item {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

.feature__advantage-wrapper-1::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
    background-image: url(../img/app.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.feature__advantage-wrapper-2::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
    background-image: url(../img/award.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.feature__advantage-wrapper-3::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
    background-image: url(../img/storage.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.feature__advantage-wrapper-4::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
    background-image: url(../img/custom.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.feature__advantage-wrapper-5::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
    background-image: url(../img/ux.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.feature__advantage-wrapper-6::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
    background-image: url(../img/customer.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.feature__advantage-wrapper {
    padding: 0;
    margin: 0;
    margin-left: auto;
    width: 210px;
}

.feature__advantage {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(15, 33, 55);
    font-weight: 400;
    line-height: 1.5;
}

.feature__advantage-text {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: rgb(93, 100, 109);
    font-weight: 400;
    line-height: 1.88;
}

/* update */
.update {
    width: 100%;
    background: linear-gradient(35deg, rgb(147, 249, 185) 0%, rgb(29, 151, 108) 100%);
}

.update__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.update__headline {
    font-size: 14px;
    letter-spacing: 0.15em;
    padding: 0;
    margin: 0;
}

.update__subtitle {
    line-height: 1.67;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}


.update__slides-container {
    width: 320px;
}

.update__slides-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.update__slides-list-none {
    display: none;
}

.update__slides-button {
    font-family: inherit;
    width: 140px;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* flex-shrink: 0; */
    opacity: 0.8;
    font-size: 14px;
    cursor: pointer;
}


.update__slides-button-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill: rgb(255, 255, 255);

}





.update__slides {
    display: none;
}

#update-radio1:checked~.update__slides-wrapper .update__slides-budge {
    display: block;
}

#update-radio2:checked~.update__slides-wrapper .update__slides-create {
    display: block;
}

#update-radio3:checked~.update__slides-wrapper .update__slides-view {
    display: block;
}

#update-radio4:checked~.update__slides-wrapper .update__slides-integrations {
    display: block;
}

#update-radio1:checked~.update__slides-list .update__slides-button--1,
#update-radio2:checked~.update__slides-list .update__slides-button--2,
#update-radio3:checked~.update__slides-list .update__slides-button--3,
#update-radio4:checked~.update__slides-list .update__slides-button--4 {

    opacity: 1;
}






/* pricing */
.pricing {
    width: 100%;
    background-color: rgb(255, 255, 255);
}


.pricing__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 80px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__header {
    line-height: 1.67;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;
    min-width: 300px;
}

.pricing__headline {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(42, 162, 117);
    display: block;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}

.pricing__subtitle {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    color: rgb(15, 33, 55);
    font-weight: 500;
    text-align: center;
    line-height: 1.67;
    letter-spacing: -0.025em;
}

.pricing__button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.pricing__button {
    font-family: inherit;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 45px;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(111, 122, 135);
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(228, 233, 238);
}


.pricing__button--monthly {
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
}

.pricing__button--annual {
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
}

.pricing__list--monthly {
    display: none;
}

.pricing__list--annual {
    display: none;
}

.pricing__list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgb(48, 43, 78);
}

.pricing__list-monthly {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing__list-annual {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pricing-radio1:checked~.pricing__list-wrapper .pricing__list--monthly {
    display: block;
}

#pricing-radio2:checked~.pricing__list-wrapper .pricing__list--annual {
    display: block;
}

#pricing-radio1:checked~.pricing__button-wrapper .pricing__button--monthly {
    color: rgb(42, 162, 117);
    border-color: rgb(42, 162, 117);
}

#pricing-radio2:checked~.pricing__button-wrapper .pricing__button--annual {
    color: rgb(42, 162, 117);
    border-color: rgb(42, 162, 117);
}

.pricing__item {
    width: 290px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 45px 35px;
    border: 1px solid rgb(228, 233, 238);
    border-radius: 5px;
}

.pricing__item-headline {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 20px;
    color: rgb(48, 43, 78);
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.025em;
}

.pricing__item-subtittle {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    color: rgb(67, 65, 78);
    text-align: center;
    line-height: 1.75;
    margin-bottom: 40px;

}

.pricing__item-milestone {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    color: rgb(67, 65, 78);
    text-align: center;
    line-height: 1.75;
    margin-bottom: 30px;
}

.pricing__item-price {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 36px;
    color: rgb(48, 43, 78);
    display: block;
    text-align: center;
    letter-spacing: -0.025em;
}

.pricing__item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 46px;
    min-width: 48px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: 222px;
    font-family: inherit;
    font-size: 14px;
    color: rgb(42, 162, 117);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.pricing__item-button--green {
    color: rgb(255, 255, 255);
    background-color: rgb(42, 162, 117);

}

.pricing__item-features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing__item-features-li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 25px;
    font-size: 15px;
    color: rgb(67, 65, 78);
}

.pricing__item-features-li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url(../img/check-bold.svg);
    background-repeat: no-repeat;
    background-size: 15px;

}

/* our-users */
.our-users {
    width: 100%;
    background-color: rgb(246, 251, 249);
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-position: 25% center;

}

.our-users__wrapper {
    box-sizing: border-box;
    width: 330px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.our-users__big-text {
    font-size: 26px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: rgb(15, 33, 55);
    font-weight: 400;
    line-height: 1.25;
}

.our-users__text {
    font-size: 16px;
    line-height: 1.75;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    color: rgba(52, 61, 72, 0.8);

}

.our-users__visual-image {
    padding: 0;
    margin: 0;
    min-width: 300px;
    min-height: 265px;
}

.our-users__text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

.our-users__button {
    align-self: flex-start;
    cursor: pointer;
    padding: 8px 22px;
    box-sizing: border-box;
    min-width: 150px;
    min-height: 46px;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: rgb(237, 205, 55);
    font-size: 14px;
    border-radius: 4px;
    border-color: rgb(237, 205, 55);
    transition: all 0.3s ease 0s;
}

/* testimonial */
.testimonial {
    width: 100%;
    background-color: #FFFFFF;
}

.testimonial__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-top: 80px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.testimonial__headline {
    margin: 0;
    padding: 0;
    line-height: 1.67;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(42, 162, 117);
}

.testimonial__subtitle {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.67;
    color: rgb(15, 33, 55);
}



.testimonial__slide {
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 30px;
    border: 1px solid rgb(242, 244, 247);
    display: none;
}

.testimonial__slides-headline {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 13px;
    font-size: 15px;
    color: rgb(52, 61, 72);
    font-weight: 700;
    line-height: 1.5;
}

.testimonial__slides-text {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 30px;
    font-size: 16px;
    color: rgb(52, 61, 72);
    font-weight: 300;
    line-height: 1.7;
}

.testimonial__slides-client-wrapper {
    display: flex;
}

.testimonial__slides-client-img {
    padding: 0;
    margin: 0;
    margin-right: 15px;
    border-radius: 50%;
}

.testimonial__slides-client-name {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 14px;
    color: rgb(15, 33, 55);
    font-weight: 500;
    letter-spacing: -0.025em;
}

.testimonial__slides-client-position {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: rgb(111, 122, 135);
}

.testimonial__slides-container {
    display: flex;
    flex-direction: column;
}

.testimonial__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    order: 10;
}

.testimonial__button {
    font-family: inherit;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(231, 241, 237);
    margin: 5px;
    transition: all 0.15s ease-in-out 0s;
    cursor: pointer;
}



#testimonial-radio1:checked~.testimonial__slides-wrapper .testimonial__slide-1 {
    display: block;
}

#testimonial-radio2:checked~.testimonial__slides-wrapper .testimonial__slide-2 {
    display: block;
}

#testimonial-radio3:checked~.testimonial__slides-wrapper .testimonial__slide-3 {
    display: block;
}

#testimonial-radio1:checked~.testimonial__button-wrapper .testimonial__button--1 {
    background: rgb(201, 206, 204);
}

#testimonial-radio2:checked~.testimonial__button-wrapper .testimonial__button--2 {
    background: rgb(201, 206, 204);
}

#testimonial-radio3:checked~.testimonial__button-wrapper .testimonial__button--3 {
    background: rgb(201, 206, 204);
}

/* faq */
.faq {
    width: 100%;
    background-color: rgb(255, 255, 255);
margin-top: 50px;
}

.faq__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.faq__headline {
    margin: 0;
    padding: 0;
    line-height: 1.67;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(42, 162, 117);
    letter-spacing: 0.15em;
}

.faq__subtitle {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.67;
    color: rgb(15, 33, 55);
}

.faq__list {
    width: 300px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.faq__item {
    width: 100%;
    margin-bottom: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(239, 242, 245);
    border-radius: 5px;
}


.faq__item-ask {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    margin: 0;
    font-size: 16px;
    color: rgb(48, 43, 78);
    font-weight: 400;
    letter-spacing: -0.025em;
}
.faq__item-ask:before {  
    content: "+";
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 5px;
    vertical-align: middle;
    text-align: center;
  }
.faq__item[open] > summary:before {
    content: "–";
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 10px 5px;
    vertical-align: middle;
    text-align: center;
  }

  
.faq__item-answer {
    box-sizing: border-box;
    padding: 0px 20px 15px;
    margin: 0;
    font-size: 15px;
    color: rgb(67, 65, 78);
    line-height: 1.75;
}






.faq__button {
    cursor: pointer;
    min-height: 46px;
    padding: 8px 15px;
    box-sizing: border-box;
    min-width: 150px;
    font-family: inherit;

    font-weight: 500;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: rgb(237, 205, 55);
    font-size: 13px;
    border-radius: 3px;
    border-color: rgb(237, 205, 55);
}

/* start-trial */
.start-trial {
    width: 100%;
    background-color: var(--color-grey0);
    color: rgb(0, 0, 0);
}

.start-trial__wrapper {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-trial__big-text {
    padding: 0;
    margin: 0px 0px 25px;
    font-size: 28px;
    text-align: center;
}

.start-trial__text {
    margin-bottom: 35px;
    text-align: center;
    line-height: 2.1;
    font-size: 15px;

}

.start-trial__visual {
    width: 320px;
    padding: 0;
    margin-bottom: 35px;
    box-sizing: border-box;
}

.start-trail__img {
    box-sizing: border-box;
    margin: 0 58px;
}

.start-trial__buttons-block {
    width: 320px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.start-trial__button-join {

    cursor: pointer;
    min-height: 46px;
    padding: 8px 15px;
    box-sizing: border-box;
    min-width: 150px;

    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: rgb(237, 205, 55);
    font-size: 13px;
    border-radius: 3px;
    border-color: rgb(237, 205, 55);
}

.start-trial__button {
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 13px;
    cursor: pointer;
    min-height: 46px;
    padding: 8px 15px;
    box-sizing: border-box;
    min-width: 150px;
    border: none;
    background-color: rgb(255, 255, 255);
}

/* footer */
.footer {
    background-color: var(--color-grey0);
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(252, 252, 253) 5%, rgb(252, 252, 253) 100%);
    color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;

}

.footer-nav {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;

}

.footer-nav__contacts {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    color: rgb(15, 33, 55);
}

.footer-nav__navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav__logo-image {
    width: 130px;
    height: 33px;
}

.footer-nav__logo {
    display: block;
    padding: 0;
    margin: 15px 0;
}

.footer-nav__e-mail {
    padding: 0;
    margin: 10px 0;
}

.footer-nav__namber {
    padding: 0;
    margin: 10px 0;
}

.footer-nav__column {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.footer-nav__column-headline {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    font-size: 16px;
    color: rgb(52, 61, 72);
    font-weight: 700;

}

.footer-nav__column-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav__column-item {
    display: block;
    margin: 0;
    padding: 10px 0;
    color: rgba(52, 61, 72, 0.8);
    font-size: 14px;


}

/* Media выражения */

/* Выпадающее меню */
@media (max-width:1200px) {

    .top-menu__wrapper {
        padding: 0;
        margin: 0;
        margin-left: auto;
        min-width: 300px;
        max-width: 500px;
        display: none;
        position: fixed; 
     top: 0; left: 0; right: 0; bottom: 0;
        
        height: 100vh;
        z-index: 10;

    }

    .top-menu__wrapper--open {
        display: block;
    }

    .top-menu__navigation-wrapper {
        margin: 0;
        min-width: 300px;
        box-sizing: border-box;
        padding: 50px 40px 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFFFFF;
        flex-grow: 1;
    }

    .top-menu__navigation-list {
        position: relative;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

    }

    .top-menu__item {
        margin-bottom: 25px;
    }

    .top-menu__item-a {
        font-weight: 400;
        color: rgb(52, 61, 72);
    }

    .top-menu__item--button {
        font-family: inherit;
        font-weight: 500;
    }



    .top-menu__button-close {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 15px;
        right: 15px;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .top-menu__button-close::before {
        position: absolute;
        top: 15px;
        right: 0px;
        content: "";
        height: 2px;
        width: 30px;
        background-color: rgb(42, 162, 117);
        transform: rotate(45deg);
    }

    .top-menu__button-close::after {
        position: absolute;
        top: 15px;
        right: 0px;
        content: "";
        height: 2px;
        width: 30px;
        background-color: rgb(42, 162, 117);
        transform: rotate(-45deg);
    }

    .top-menu__item-a--current {
        color: rgb(42, 162, 117);
        position: relative;
    }

    .top-menu__item-a--current::before {
        content: "";
        width: 7px;
        height: 7px;
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
        background: rgb(42, 162, 117);
        border-radius: 50%;
    }
   

}

/* media header */
@media (min-width:760px) {
    
    .top-menu {
        width: 690px;
    }

    .top-menu__navigation-wrapper {
        min-width: 420px;
    }
}
    @media (min-width:1200px) {
        
        .top-menu {
            width: 1110px;
        }

        .top-menu__toggle {
            display: none;
        }

        .top-menu__wrapper {
            display: block;
            padding: 0;
            margin: 0;
        }

        .top-menu__navigation-wrapper {
            min-width: 580px;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            vertical-align: center;
            justify-content: space-between;
        }

        .top-menu__navigation-list {
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .top-menu__item {
            align-self: baseline;
        }

        .top-menu__item-a--current {
            color: var(--color-yellow);
        }

        .top-menu__item-a:hover,
        .top-menu__item-a:focus {
            color: var(--color-yellow);

        }
        .top-menu__item-a:active {
            color: var(--color-yellow);
        }

        .top-menu__button-start {
            cursor: pointer;
        }

        .top-menu__button-start:hover,
        .top-menu__button-start:focus {
            box-shadow: 0px 8px 20px 3px rgba(237, 205, 55, 0.5);
        }

        .top-menu__navigation--black {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #000000;
        }

        .top-menu__navigation--black .top-menu__item-a{
            color: #000000;
    
        }
        .top-menu__navigation--black .top-menu__item-a:hover,
        .top-menu__navigation--black .top-menu__item-a:focus {
            color: #18D379;
        }
        .top-menu__navigation--black .top-menu__item-a--current {
            color: #18D379;
        }
    
    }



    /* media Intro */

    @media (min-width:760px) {
        .intro {
            padding: 80px 0px 50px;
        }

        .intro__wrapper {
            width: 700px;
            padding-top: 70px;
        }

        .intro__hint {
            width: 305px;
        }

        .intro__big-text {
            width: 552px;
            font-size: 40px;
        }

        .intro__text {
            width: 552px;
        }

        .intro__button-trial {
            font-size: 14px;
            padding: 8px 30px;
        }
    }

    @media (min-width:1200px) {
        .intro {
            padding: 100px 0px 50px;
        }

        .intro__wrapper {
            width: 1110px;
        }

        .intro__big-text {
            padding: 0;
            width: 580px;
            font-size: 46px;
        }

        .intro__text {
            width: 555px;
        }


        .intro__button-trial:hover,
        .intro__button-trial:focus {
            box-shadow: 0px 8px 20px 3px rgba(237, 205, 55, 0.5);
        }

        /* .intro__button-video-text:hover {
            color: rgb(237, 205, 55);
            
        }
        .intro__button-video-icon:hover,
        .intro__button-video-icon:focus {
            fill: rgb(237, 205, 55);
        } */

    }

    /* media process */

    @media (min-width:760px) {
        .process__wrapper {
            width: 760px;
        }

        .process__header {
            margin-bottom: 100px;
        }

        .process__subtitle {
            font-size: 24px;
        }

        .process__headline {
            font-size: 14px;
        }

        .process__list {
            width: 730px;
            display: flex;
            justify-content: space-between;
        }

        .process__item {
            width: 225px;
            padding: 0 10px;
        }

        .process__step-img {
            width: 70px;
            height: 70px;
        }

        .process__promo {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
        }

        .process__promo-text {
            min-width: 340px;
        }

        .process__big-text {
            font-size: 36px;
        }

        .process__visual {
            min-width: 400px;
            min-height: 300px;
        }

        .process__visual-image1 {
            min-width: 400px;
            min-height: 300px;
        }
        .process__visual-image2 {
            margin-bottom: 15%;

    }
    }
    @media (min-width:1200px) {
        .process__wrapper {
            width: 1180px;
        }

        .process__list {
            width: 100%;
        }

        .process__item {
            width: 400px;
            padding: 0 40px;
        }

        .process__step-img {
            width: 87px;
            height: 87px;
        }

        .process__step-namber {
            width: 45px;
            height: 45px;
        }

        .process__promo {
            width: 100%;
        }

        .process__promo-text {
            min-width: 478px;
        }

        .process__big-text {
            font-size: 48px;
        }

        .process__text {
            font-size: 16px;
        }

        .process__visual {
            min-width: 700px;
            min-height: 535px;

        }

        .process__visual-image1 {
            min-width: 700px;
            min-height: 535px;
        }

        .process__visual-image2 {

            min-width: 320px;
            min-height: 320px;
            margin-bottom: -10%;
        }

        .process__button:hover,
        .process__button:focus {
            box-shadow: 0px 8px 20px 3px rgba(237, 205, 55, 0.5);
        }

    }

    /* media feature */

    @media (min-width:760px) {
        .features__wrapper {
            width: 760px;
        }

        .features__list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .features__item {
            width: 325px;
        }

        .features__subtitle {
            font-size: 24px;
        }
    }

    @media (min-width:1200px) {
        .features__wrapper {
            width: 1180px;
        }

        .feature__advantage {
            font-size: 20px;
        }

        .feature__advantage-text {
            font-size: 15px;
        }
    }

    /* media update */
    @media (min-width:760px) {
        .update__wrapper {
            width: 760px;
            padding-top: 60px;
        }

        .update__subtitle {
            font-size: 24px;
            margin-bottom: 40px;
        }

        .update__slides-container {
            width: 690px;
        }

        .update__slides-list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }


        .update__slides-button {
            box-sizing: border-box;
            width: 165px;
            padding: 5px;
            padding-bottom: 30px;
            margin-right: 5px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 3px solid #2AA275;
            opacity: 0.8;
            font-size: 16px;
        }
        

        .update__slides-button-icon {
            width: 24px;
            height: 24px;
            margin-right: 5px;
            fill: rgb(255, 255, 255);

        }

        .update__slides {
            display: none;
        }

        #update-radio1:checked~.update__slides-wrapper .update__slides-budge {
            display: block;
        }

        #update-radio2:checked~.update__slides-wrapper .update__slides-create {
            display: block;
        }

        #update-radio3:checked~.update__slides-wrapper .update__slides-view {
            display: block;
        }

        #update-radio4:checked~.update__slides-wrapper .update__slides-integrations {
            display: block;
        }

        #update-radio1:checked~.update__slides-list .update__slides-button--1,
        #update-radio2:checked~.update__slides-list .update__slides-button--2,
        #update-radio3:checked~.update__slides-list .update__slides-button--3,
        #update-radio4:checked~.update__slides-list .update__slides-button--4 {
            border-bottom: 3px solid #FFFFFF;
            opacity: 1;
        }

    }

    @media (min-width:1200px) {
        .update__wrapper {
            width: 1180px;
        }

        .update__slides-container {
            width: 1100px;
        }

        .update__slides-button {
            width: 230px;
            margin: 0;
            font-size: 18px;
        }


        .update__slides-button:hover,
        .update__slides-button:focus {
            opacity: 1;
        }

        #update-radio1:focus~.update__slides-list .update__slides-button--1,
        #update-radio2:focus~.update__slides-list .update__slides-button--2,
        #update-radio3:focus~.update__slides-list .update__slides-button--3,
        #update-radio4:focus~.update__slides-list .update__slides-button--4 {
            outline: rgb(59, 153, 252) auto 5px;
        }



    }

    /* media pricing */
    @media (min-width:760px) {
        .pricing__wrapper {
            width: 760px;
        }

        .pricing__item {
            width: 325px;
        }

        .pricing__subtitle {
            font-size: 24px;

        }

        .pricing__button {
            width: 165px;
            height: 50px;
            padding: 8px 15px;
            font-size: 16px;
        }

        .pricing__item {
            width: 400px;
            padding: 60px 45px;
        }

        .pricing__item-headline {
            font-size: 22px;
        }

        .pricing__item-subtittle {
            font-size: 16px;

        }

        .pricing__item-milestone {
            font-size: 14px;
        }

        .pricing__item-price {
            font-size: 40px;
        }

        .pricing__item-features-li {
            font-size: 16px;
        }
    }

    @media (min-width:1200px) {
        .pricing__wrapper {
            width: 1180px;
        }

        .pricing__list {
            width: 1140px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .pricing__button {
            cursor: pointer;
        }


        .pricing__item {
            width: 325px;
        }

        .pricing__subtitle {
            font-size: 24px;
        }

        .pricing__button {
            width: 165px;
            height: 50px;
            padding: 8px 15px;
            font-size: 16px;
        }

        .pricing__item {
            width: 360px;
            padding: 60px 45px;
        }

        .pricing__item-button:hover,
        .pricing__item-button:focus {
            color: rgb(255, 255, 255);
            background-color: rgb(42, 162, 117);
            box-shadow: rgba(42, 162, 117, 0.57) 0px 8px 20px -6px;
            border-color: rgb(42, 162, 117);
        }



    }

    /* media our-users */
    @media (min-width:760px) {
        .our-users__wrapper {
            box-sizing: border-box;
            width: 760px;
            padding: 100px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .our-users__visual-image {
            width: 295px;
            height: 260px;
        }

        .our-users__text-wrapper {
            width: 400px;
            box-sizing: border-box;
        }

        .our-users__big-text {
            font-size: 30px;
        }

    }

    @media (min-width:1200px) {
        .our-users__wrapper {
            width: 1180px;
        }

        .our-users__visual {
            box-sizing: border-box;
            width: 660px;
            padding: 0 10px;
        }

        .our-users__visual-image {
            width: 560px;
            height: 495px;
        }

        .our-users__text-wrapper {
            width: 478px;
            box-sizing: border-box;
            padding: 0 10px;
        }

        .our-users__big-text {
            font-size: 48px;
        }

        .our-users__button:hover,
        .our-users__button:focus {
            box-shadow: 0px 8px 20px 3px rgba(237, 205, 55, 0.5);
        }

    }

    /* media testimonial */
    @media (min-width:760px) {
        .testimonial__wrapper {
            width: 760px;
        }

        .testimonial__slides-container {
            width: 690px;
            box-sizing: border-box;

        }

        .testimonial__slide {
            padding: 40px;
        }
    }

    @media (min-width:1200px) {
        .testimonial__wrapper {
            width: 1180px;
            padding-bottom: 100px;
        }

        .testimonial__slides-container {
            width: 1170px;
        }

        .testimonial__slides-wrapper {
            display: flex;
            justify-content: space-between;
        }

        .testimonial__slide {
            width: 540px;
            display: none;
        }

        #testimonial-radio1:checked~.testimonial__slides-wrapper .testimonial__slide-1,
        #testimonial-radio1:checked~.testimonial__slides-wrapper .testimonial__slide-2 {
            display: block;
        }

        #testimonial-radio2:checked~.testimonial__slides-wrapper .testimonial__slide-2,
        #testimonial-radio2:checked~.testimonial__slides-wrapper .testimonial__slide-3 {
            display: block;
        }

        #testimonial-radio3:checked~.testimonial__slides-wrapper .testimonial__slide-3 {
            display: block;
        }

        #testimonial-radio3:checked~.testimonial__slides-wrapper .testimonial__slide-1 {
            display: block;
            order: 4;
        }

        #testimonial-radio1:focus~.testimonial__button-wrapper .testimonial__button--1,
        #testimonial-radio2:focus~.testimonial__button-wrapper .testimonial__button--2,
        #testimonial-radio3:focus~.testimonial__button-wrapper .testimonial__button--3 {
            outline: rgb(59, 153, 252) auto 5px;
        }


    }


    /* media faq */
    @media (min-width:760px) {
        .faq__wrapper {
            width: 760px;
        }

        .faq__list {
            box-sizing: border-box;
            width: 690px;
            padding: 0 35px;
        }

        .faq__subtitle {
            font-size: 24px;
        }

        .faq__item-ask {
            font-size: 19px;
            padding: 23px 30px;
        }

        .faq__item-answer {
            padding: 0 30px 23px;
        }
        .faq__item-ask:before {  
            font-size: 30px;
            padding: 20px 30px;
           
          }
        .faq__item[open] > summary:before {
            font-size: 30px;
            padding: 20px 30px;
        
          }
      
    }

    @media (min-width:1200px) {
        .faq__wrapper {
            width: 1180px;
        }

        .faq__list {
            width: 1100px;
            padding: 0 135px;
        }
        .faq__item-ask {
            cursor: pointer;
        }
 

        .faq__item-answer {
            width: 810px;
        }

        .faq__button:hover,
        .faq__button:focus {
            box-shadow: 0px 8px 20px 3px rgba(237, 205, 55, 0.5);
        }
    }

    /* media start-trial */

    @media (min-width:760px) {
        .start-trial__wrapper {
            width: 760px;
        }

        .start-trial__big-text {
            width: 555px;
            font-size: 36px;
        }

        .start-trial__text {
            width: 555px;
            font-size: 16px;
        }

        .start-trial__buttons-block {
            width: 550px;
            justify-content: center;
        }

    }

    @media (min-width:1200px) {
        .start-trial__wrapper {
            width: 1180px;
        }

        .start-trial__big-text {
            width: 477px;
            font-size: 48px;
        }

        .start-trial__text {
            width: 477px;
            font-size: 16px;
        }

        .start-trial__buttons-block {}

        .start-trial__button-join:hover,
        .start-trial__button-join:focus {
            box-shadow: 0px 8px 20px 3px rgba(237, 205, 55, 0.5);
        }

        .start-trial__button:hover,
        .start-trial__button:focus {
            color: var(--color-yellow);
        }

    }

    /* media footer */
    @media (min-width:760px) {
        .footer {
            position: relative;
            padding-top: 60px;
        }

        /* 
        .footer::before {
            content: "";
            position: absolute;
            width: 104%;
            padding-bottom: 104%;
            border-top-right-radius: 11%;
            top: 18%;
            left: 0px;
            pointer-events: none;
            background-color: rgb(255, 255, 255);
            transform: rotate(-6deg);

        } */

        .footer-nav {
            padding-top: 80px;
            padding-bottom: 80px;
            position: relative;
            background-repeat: no-repeat;
            background-position: center 50px;
            background-image: url(../img/footer-bg.png);
            width: 760px;
            flex-direction: row;
        }

        .footer-nav__contacts {
            width: 252px;
        }

        .footer-nav__navigation {
            width: 468px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .footer-nav__column {
            width: 204px;
        }
    }

    @media (min-width:1200px) {

        .footer-nav {
            width: 1140px;
        }

        .footer-nav__contacts {
            width: 262px;
        }

        .footer-nav__navigation {
            width: 878px;

        }

        .footer-nav__column-item:hover,
        .footer-nav__column-item:focus {
            color: rgb(52, 61, 72);
        }

    }


    